<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>{{pageTitle}}</title>

    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://thriftbuyer.net" />
    <meta property="og:author" content="Daniel Gold" />
    <meta property="og:title" content="ThriftBuyer" />
    <meta property="og:image" content="/croppedthriftcart.jpg" />
    <meta property="og:image:alt" content="Thrift store shopping cart" />
    <meta property="og:description" content="ThriftBuyer is rating and note-taking application which allows users who frequently shop at thrift stores for work, to keep track of and share the best places to find certain items. Any user can search for stores near them and see what kinds of items can be found at that store, as well as what the community thinks of the quality, quantity, and price point, of those items." />

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">ThriftBuyer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link {{#ifEquals current "home"}}active{{/ifEquals}}" href="/">
                        Home
                        {{#ifEquals current "home"}}
                        <span class="sr-only">(current)</span>
                        {{/ifEquals}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#ifEquals current "addstore"}}active{{/ifEquals}}" href="/addstore">
                        Add store
                        {{#ifEquals current "addstore"}}
                        <span class="sr-only">(current)</span>
                        {{/ifEquals}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#ifEquals current "about"}}active{{/ifEquals}}" href="/about">
                        About
                        {{#ifEquals current "about"}}
                        <span class="sr-only">(current)</span>
                        {{/ifEquals}}
                    </a>
                </li>
                <li class="nav-item">
                    <span title="These features coming soon!"><a class="nav-link disabled {{#ifEquals current "account"}}active{{/ifEquals}}" href="/account">My
                            Account
                            {{#ifEquals current "account"}}
                            <span class="sr-only">(current)</span>
                            {{/ifEquals}}
                        </a></span>
                </li>
            </ul>
            <div class="nav-item">
                {{{loginLogout}}}
            </div>
        </div>
    </nav>
    <div id="footerPossitioningDiv">
        {{{body}}}
    </div>
    <footer class="footer py-2 mt-auto">
        <div class="container text-center">
            <span class="text-muted mt-4">Copyright 2019 Daniel Gold | This app is still in beta. Current version: 0.36
                |
                <a href="mailto:danieljasongold@gmail.com?subject=ThriftBuyerIssueReport" target="__blank">Report a
                    problem</a></span>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {{#if fontAwesome}}
    <script src="https://kit.fontawesome.com/71eb303bb7.js" crossorigin="anonymous"></script>
    {{/if}}
    {{#if GMAPSAPIKEY}}
    <script src="https://maps.googleapis.com/maps/api/js?key={{GMAPSAPIKEY}}&callback=initMap"></script>
    {{/if}}
    {{#if pageSpecificJs}}
    <script src="{{pageSpecificJs}}"></script>
    {{/if}}
</body>

</html>