{{!-- Add Category Confirm Modal --}}
<div class="modal fade" id="addCategoryConfirm" tabindex="-1" role="dialog" aria-labelledby="confirmAddCategory"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCategoryConfirmTitle">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                This action will permanently add the <strong><span
                        id="modalCategoryNameInsert">CATEGORYNAME</span></strong> cateogry to
                this store for all users.
                Before you proceed, please be sure that this store is actually a place that someone would reasonably go
                looking for an item from this category.
                (For example, a store specializing in clothing that has couple chairs in thier display, which are
                technically for sale, should not recieve a furniture category.)
                <br><br>
                <strong>This action cannot be undone.</strong>
            </div>
            <div class="modal-footer">
                <button type="button" id="addCategoryConfirmCancel" class="btn btn-danger"
                    data-dismiss="modal">Cancel</button>
                <button type="button" id="addCategoryConfirmConfirm" class="btn btn-success">Create</button>
            </div>
        </div>
    </div>
</div>

{{!-- User Note Saved Successfully Popup Modal --}}
<div class="modal fade" id="saveSuccessModal" tabindex="-1" role="dialog" aria-labelledby="saveSuccess"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="saveSuccessModalTitle">Success!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Your note has been saved. Only you will be able to read this note.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Okay</button>
            </div>
        </div>
    </div>
</div>

{{!-- Add Tag Modal --}}
<div class="modal fade" id="addTag" tabindex="-1" role="dialog" aria-labelledby="addTag" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTagTitle">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group-inline col-6, col-md-5">
                        <label class="h4" for="addTagField">Add Tag</label>
                        <input type="text" class="form-control" id="addTagField" aria-describedby="tagHelp"
                            placeholder="Mid-century Modern" maxlength="20">
                        <small id="tagHelp" class="form-text text-muted">You may only add one tag at a time.</small>
                    </div>
                    <div id='tagAlert' class="alert alert-danger" role="alert">
                        Sorry, something went wrong.
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="addTagCancel" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" id="addTagConfirm" class="btn btn-success">Create</button>
            </div>
        </div>
    </div>
</div>

{{!-- /Modals --}}

{{!-- Main page content --}}
<div class="container">

    {{!-- Store Name Row --}}
    <div class="row">
        <div class="col-12">
            <h1>{{name}}</h1>
        </div>
    </div>
    {{!-- /Store Name Row --}}

    {{!-- Address Row --}}
    <div class="row">
        <div class="col-12 col-md-6">

            <h3>Located at</h3>
            <p><a class="text-secondary" href="https://www.google.com/maps/place/{{googleStoreAddress}}" target="__blank">{{address}}</a></p>
        </div>
    </div>
    {{!-- /Address Row --}}

    {{!-- Category Row --}}
    <div class="row">
        <div class="col-12">

            {{!-- Category Buttons --}}
            <div class="row">
                <div class="col-12">
                    <ul>
                        {{#each categories}}
                        <li class="d-inline-block"><button
                                class="btn categoryTitleButton {{this}}Button">{{this}}</button></li>
                        {{/each}}
                        <li class="d-inline-block">
                            <button id="addCategoryButton" type="button" class="btn btn-secondary" data-container="body"
                                data-toggle="popover" data-trigger="focus" data-placement="bottom"
                                {{categoryAddShowHide}} {{addCatDisable}}>
                                +
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            {{!-- /Category Buttons --}}

            {{!-- All Category Data --}}
            <div class="row">

                {{!-- Ratings --}}
                <div class="col-12 col-md-3" id="ratingsColumn">

                    {{!-- This will be inserted via the page's javascript --}}

                </div>
                {{!-- /Ratings --}}

                {{!-- Personal Notes --}}

                <div class="col-12 col-md-9  border border-secondary" id="personalNotesColumn">
                    <div class="row" id="NotesTitle">
                        <h4>My Notes</h4>
                    </div>
                    <div class="row" id="personalRatingsRow">
                        {{!-- <div class="col-md-2 col-12" id="myRatingsTitle">
                            <h5>My Ratings:</h5>
                        </div> --}}
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 personalRating"
                            id="personalQualityRating">
                            <h6>Quality:
                                <button class="personalRatingButton btn btn-sm" currentRating="false"
                                    ratingType="quality" id="qualityRate0" value='0'>x</button>
                                <button class="personalRatingButton btn btn-sm btn-light" currentRating="false"
                                    ratingType="quality" id="qualityRate1" value="1">1</button>
                                <button class="personalRatingButton btn btn-sm btn-light" currentRating="false"
                                    ratingType="quality" id="qualityRate2" value="2">2</button>
                                <button class="personalRatingButton btn btn-sm btn-light" currentRating="false"
                                    ratingType="quality" id="qualityRate3" value="3">3</button></h6>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 personalRating"
                            id="personalQuantityRating">
                            <h6>Quantity:
                                <button class="personalRatingButton btn btn-sm" currentRating="false"
                                    ratingType="quantity" id="quantityRate0" value='0'>x</button>
                                <button class="personalRatingButton btn btn-sm btn-light" currentRating="false"
                                    ratingType="quantity" id="quantityRate1" value="1">1</button>
                                <button class="personalRatingButton btn btn-sm btn-light" currentRating="false"
                                    ratingType="quantity" id="quantityRate2" value="2">2</button>
                                <button class="personalRatingButton btn btn-sm btn-light" currentRating="false"
                                    ratingType="quantity" id="quantityRate3" value="3">3</button></h6>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 personalRating" id="personalPriceRating">
                            <h6>Price:
                                <button class="personalRatingButton btn btn-sm" currentRating="false" ratingType="price"
                                    id="priceRate0" value='0'>x</button>
                                <button class="personalRatingButton btn btn-sm btn-light" currentRating="false"
                                    ratingType="price" id="priceRate1" value="1">1</button>
                                <button class="personalRatingButton btn btn-sm btn-light" currentRating="false"
                                    ratingType="price" id="priceRate2" value="2">2</button>
                                <button class="personalRatingButton btn btn-sm btn-light" currentRating="false"
                                    ratingType="price" id="priceRate3" value="3">3</button></h6>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="form-group col-12">
                            <textarea class="form-control" id="NoteTextArea" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="row justify-content-right">
                        <div class="col-3">
                            <button class="btn btn-success mb-3" id="saveButton" disabled>Save</button>
                        </div>
                    </div>

                </div>
                {{!-- /Personal Notes --}}

            </div>
            {{!-- /All Category Data --}}

        </div>
    </div>
    {{!-- /Category Row --}}
    <div class="row">
        <hr>
    </div>
    {{!-- Tags --}}
    <div class="row">

        <div class="col-12">
            <p> <span class="h5">Tags: </span><span id="tagsGoHere">

                </span>
                <button id="addTagButon" class="btn btn-sm btn-secondary" disabled>+</button>
            </p>
        </div>

    </div>
    {{!-- /Tags  --}}

</div>

<div id="storeInfo" storeId="{{id}}" hidden></div>

<div hidden>
    <div id="categoriesToAdd">
        {{#each categoriesToAdd}}
        <div class="btn btn-sm btn-warning d-inline-block addCatButton" catName="{{this}}">
            {{this}}
        </div>
        {{/each}}
    </div>
</div>