<div class="container">

    {{!-- Store Name Row --}}
    <div class="row">
        <div class="col-12">
            <h1>{{name}}</h1>
        </div>
    </div>
    {{!-- /Store Name Row --}}

    {{!-- Address Row --}}
    <div class="row">
        <div class="col-12 col-md-6">

            <h3>Located at</h3>
            <p>{{address}}</p>
        </div>
    </div>
    {{!-- /Address Row --}}

    {{!-- Category Row --}}
    <div class="row">
        <div class="col-12">

            {{!-- Category Buttons --}}
            <div class="row">
                <div class="col-12">
                    <ul>
                        {{#each categories}}
                        <li class="d-inline-block"><button
                                class="btn categoryTitleButton {{this}}Button">{{this}}</button></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            {{!-- /Category Buttons --}}

            {{!-- All Category Data --}}
            <div class="row">

                {{!-- Ratings --}}
                <div class="col-12 col-md-3" id="ratingsColumn">

                    {{!-- This will be inserted via the page's javascript --}}

                </div>
                {{!-- /Ratings --}}

                {{!-- Personal Notes --}}

                <div class="col-12 col-md-9  border border-secondary" id="personalNotesColumn">
                    <div class="row" id="NotesTitle">
                        <h4>My Notes</h4>
                    </div>
                    <div class="row" id="personalRatingsRow">
                        {{!-- <div class="col-md-2 col-12" id="myRatingsTitle">
                            <h5>My Ratings:</h5>
                        </div> --}}
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 personalRating" id="personalQualityRating">
                            <h6>Quality:
                                <button class="personalRatingButton btn btn-sm" ratingType="quality"
                                    id="qualityRateX">x</button>
                                <button class="personalRatingButton btn btn-sm btn-light" ratingType="quality"
                                    id="qualityRate1">1</button>
                                <button class="personalRatingButton btn btn-sm btn-light" ratingType="quality"
                                    id="qualityRate2">2</button>
                                <button class="personalRatingButton btn btn-sm btn-light" ratingType="quality"
                                    id="qualityRate3">3</button></h6>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 personalRating" id="personalQuantityRating">
                            <h6>Quantity:
                                <button class="personalRatingButton btn btn-sm" ratingType="quantity"
                                    id="quantityRateX">x</button>
                                <button class="personalRatingButton btn btn-sm btn-light" ratingType="quantity"
                                    id="quantityRate1">1</button>
                                <button class="personalRatingButton btn btn-sm btn-light" ratingType="quantity"
                                    id="quantityRate2">2</button>
                                <button class="personalRatingButton btn btn-sm btn-light" ratingType="quantity"
                                    id="quantityRate3">3</button></h6>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 personalRating" id="personalPriceRating">
                            <h6>Price:
                                <button class="personalRatingButton btn btn-sm" ratingType="price" id="priceRateX">x</button>
                                <button class="personalRatingButton btn btn-sm btn-light" ratingType="price"
                                    id="priceRate1">1</button>
                                <button class="personalRatingButton btn btn-sm btn-light" ratingType="price"
                                    id="priceRate2">2</button>
                                <button class="personalRatingButton btn btn-sm btn-light" ratingType="price"
                                    id="priceRate3">3</button></h6>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="form-group col-12">
                            <textarea class="form-control" id="NoteTextArea" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="row justify-content-right">
                        <div class="col-3">
                            <button class="btn btn-success mb-3" id="saveButton" disabled>Save</button>
                        </div>
                    </div>

                </div>
                {{!-- /Personal Notes --}}

            </div>
            {{!-- /All Category Data --}}

        </div>
    </div>
    {{!-- /Category Row --}}

</div>

<div id="storeInfo" storeId="{{id}}" hidden></div>